language: python

dist: bionic

arch: 
  - amd64
  - ppc64le

python:
  - 3.8

before_install:
  - sudo mkdir /usr/share/crmsh
  - sudo chmod 777 /usr/share/crmsh
  
script:
  - python setup.py install
  - python setup.py test 
